<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meibo.web.agent.dao.AgentCustomerDAO">
	
	<insert id="addAgentCustomer" parameterType="agentCustomerEntity">
		insert int
			agent_customer
		( member_id, customer_name, agent_rate, agent_member_id, `status` )
		values
		( #{memberId}, #{customerName}, #{agentRate}, #{agentMemberId}, #{status} )
	</insert>
	
	<select id="selectAgentCustomerList" parameterType="Integer" resultType="agentCustomerEntity">
		select
			agent_customer_id	agentCustomerId,
			member_id			memberId,
			customer_name		customerName,
			agent_rate			agentRate,
			total_consume		totalConsume,
			total_income		totalIncome,
			agent_member_id		agentMemberId,
			`status`			`status`,
			created_date		createDate
		from
			agent_customer
		where
			`status` = 1
		<if test="agentMemberId != null">
		and
			agent_member_id = #{agentMemberId}
		</if>
	</select>
	
	<update id="updateAgentCustomer" parameterType="agentCustomerEntity">
		update
			agent_customer
		<set>
			<if test="customerName != null and customerName != ''">
				customer_name = #{customerName},
			</if>
			<if test="agentRate != null">
				agent_rate = #{agentRate},
			</if>
			<if test="totalConsume != null">
				total_consume = #{totalConsume},
			</if>
			<if test="totalIncome != null">
				total_income = #{totalIncome},
			</if>
			<if test="status != null">
				`status` = #{status}
			</if>
		</set>
		where
			agent_customer_id = #{agentCustomerId}
	</update>
	
	<select id="countAgentCustomerByAgent" parameterType="Integer" resultType="Integer">
		select
			count(agent_customer_id)
		from
			agent_customer
		where
			`status` = 1
		<if test="agentMemberId != null">
		and
			agent_member_id = #{agentMemberId}
		</if>
	</select>
	
	<select id="totalConsumeByAgent" parameterType="Integer" resultType="java.math.BigDecimal">
		select
			sum(total_consume)
		from
			agent_customer
		where
			`status` = 1
		<if test="agentMemberId != null">
		and
			agent_member_id = #{agentMemberId}
		</if>
	</select>
	
	<select id="totalIncomeByAgent" parameterType="Integer" resultType="java.math.BigDecimal">
		select
			sum(total_income)
		from
			agent_customer
		where
			`status` = 1
		<if test="agentMemberId != null">
		and
			agent_member_id = #{agentMemberId}
		</if>
	</select>
   
</mapper>