<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meibo.web.system.dao.SystemParamsInfoDAO">

   <select id="selectSystemParamsInfoByKey" parameterType="String" resultType="String">
   		select
   			param_value
   		from
   			system_params_info
   		where
   			param_key = #{paramKey}
   </select>
   
</mapper>