<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meibo.web.media.dao.BlogMediaChannelDAO">
	
	<select id="selectBlogMediaChannelId" parameterType="String" resultType="Integer">
		select
			channel_id
		from
			media_blog_channel
		where
			nickname = #{nickname}
	</select>
	
	<insert id="insertBlogMediaChannel" parameterType="blogMediaChannel" useGeneratedKeys="true" keyProperty="channelId">
		insert into
			media_blog_channel
		( nickname, fans_count, head_image, qr_code, auth_type, 
			auth_info, `desc`, type_id, status, register_date )
		values
		( #{nickname}, #{fansCount}, #{headImage}, #{qrCode}, #{authType}, 
			#{authInfo}, #{desc}, #{typeId}, #{status}, #{registerDate} )
	</insert>
	
	<select id="selectBlogMediaChannelById" parameterType="Integer" resultType="blogMediaChannel">
		select
			channel_id			channelId,
			nickname			nickname,
			fans_count			fansCount,
			head_image			headImage,
			qr_code				qrCode,
			auth_type			authType,
			auth_info			authInfo,
			`desc`				`desc`,
			type_id				typeId,
			status				status
		from
			media_blog_channel
		where
			channel_id = #{channelId}
	</select>
	
	<select id="selectBlogMediaChannelByName" parameterType="String" resultType="blogMediaChannel">
		select
			channel_id			channelId,
			nickname			nickname,
			fans_count			fansCount,
			head_image			headImage,
			qr_code				qrCode,
			auth_type			authType,
			auth_info			authInfo,
			`desc`				`desc`,
			type_id				typeId,
			status				status
		from
			media_blog_channel
		where
			nickname = #{channelName}
	</select>
	
	<update id="updateBlogMediaChannelStatus" parameterType="blogMediaChannel">
		update
			media_blog_channel
		set
			status = #{status}
		where
			channel_id = #{channelId}
	</update>
	
	<update id="updateBlogMediaChannelByChannelId" parameterType="blogMediaChannel">
		update
			media_blog_channel
		<set>
			<if test="nickname != null and nickname != ''">
				nickname = #{nickname},
			</if>
			<if test="fansCount != null">
				fans_count = #{fansCount},
			</if>
			<if test="headImage != null and headImage != ''">
				head_image = #{headImage},
			</if>
			<if test="qrCode != null and qrCode != ''">
				qr_code = #{qrCode},
			</if>
			<if test="registerDate != null and registerDate != ''">
				register_date = #{registerDate},
			</if>
			<if test="authType != null">
				auth_type = #{authType},
			</if>
			<if test="authInfo != null and authInfo != ''">
				auth_info = #{authInfo},
			</if>
			<if test="desc != null and desc != ''">
				`desc` = #{desc},
			</if>
			<if test="typeId != null">
				type_id = #{typeId}
			</if>
		</set>
		where
			channel_id = #{channelId}
	</update>
	
</mapper>