<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meibo.web.media.dao.NewsMediaDAO">
	
	<insert id="insertNewsMediaInfo" parameterType="newsMedia">
		insert into
			media_news_info
		( channel_id, column_id, area_id, include_type, 
			quote_price, title, allow_link, allow_qrcode, 
			allow_contactway, image_url, remark, audit_status, created_user )
		values
		( #{channelId}, #{columnId}, #{areaId}, #{includeType}, 
			#{quotePrice}, #{title}, #{allowLink}, #{allowQRCode}, 
			#{allowContactWay}, #{imageUrl}, #{remark}, #{auditStatus}, #{createdUser}  )
	</insert>
	
	<select id="selectNewsMediaInfo" parameterType="Integer" resultType="newsMedia">
		select
			news_media_id			newsMediaId,
			channel_id				channelId,
			column_id				columnId,
			audit_status			auditStatus
		from
			media_news_info
		where
			news_media_id = #{newsMediaId}
	</select>
	
	<update id="updateNewsMediaByAudit" parameterType="newsMedia">
		update
			media_news_info
		set
			audit_status = #{auditStatus},
			audit_user = #{auditUser},
			audit_date = #{auditDate}
		where
			news_media_id = #{newsMediaId}
	</update>
	
	<select id="selectNewsMediaListByAdmin" parameterType="newsMediaQuery" resultType="adminNewsListDto">
		SELECT
			a.news_media_id 			newsMediaId,
			a.quote_price 				quotePrice,
			a.title 					title,
			a.area_id 					areaId,
			a.allow_link 				allowLink,
			a.allow_qrcode 				allowQRCode,
			a.allow_contactway 			allowContactWay,
			a.image_url 				imageUrl,
			a.include_type 				includeType,
			a.remark 					remark,
			a.audit_status 				auditStatus,
			b.channel_name 				mediaName,
			c.name	 					mediaType,
			d.news_column_name 			mediaColumn,
			a.created_date 				createdate,
			e.login_name 				creator,
			b.link_url 					linkUrl
		FROM
			media_news_info a,
			media_news_channel b,
			media_news_type c,
			media_news_column d,
			member_info e
		WHERE
			a.channel_id = b.channel_id
		AND b.news_type = c.id
		AND a.column_id = d.news_column_id
		AND a.created_user = e.member_id
		<if test="createdUser != null and '' != createdUser">
		AND a.created_user = #{createdUser}
		</if>
		ORDER BY
			a.audit_status,
			a.created_date DESC
		<if test="isLimit != null and isLimit == 1">
			limit #{beginLimit}, #{endLimit}
		</if>
	</select>
	
	<select id="selectNewsMediaListByAdminCount" parameterType="newsMediaQuery" resultType="Integer">
		SELECT
			count(a.news_media_id)
		FROM
			media_news_info a,
			media_news_channel b,
			media_news_type c,
			media_news_column d,
			member_info e
		WHERE
			a.channel_id = b.channel_id
		AND b.news_type = c.id
		AND a.column_id = d.news_column_id
		AND a.created_user = e.member_id
		<if test="createdUser != null and '' != createdUser">
		AND a.created_user = #{createdUser}
		</if>
	</select>
	
	<select id="selectNewsMediaListByMember" parameterType="newsMediaQuery" resultType="baseNewsListDto">
		SELECT
			g.*, b.channel_name mediaName,
			c. NAME mediaType,
			d.news_column_name mediaColumn,
			b.link_url linkUrl
		FROM
			(
				SELECT
					a.channel_id channelId,
					a.column_id columnId,
					a.news_media_id newsMediaId,
					a.created_user createdUser,
					a.quote_price quotePrice,
					a.title title,
					a.area_id areaId,
					a.allow_link allowLink,
					a.allow_qrcode allowQRCode,
					a.allow_contactway allowContactWay,
					a.image_url imageUrl,
					a.include_type includeType,
					a.remark remark
				FROM
					media_news_info a
				LEFT JOIN media_news_info f ON a.channel_id = f.channel_id
<![CDATA[ 			AND a.quote_price < f.quote_price	]]>	
				WHERE
					a.audit_status = 1
				GROUP BY
					a.channel_id
			) g,
			media_news_channel b,
			media_news_type c,
			media_news_column d,
			member_info e
		WHERE
			g.channelId = b.channel_id
		AND b.news_type = c.id
		AND g.columnId = d.news_column_id
		AND g.createdUser = e.member_id
		ORDER BY g.createdate desc
		<if test="isLimit != null and isLimit == 1">
			limit #{beginLimit}, #{endLimit}
		</if>
	</select>
	
	<select id="selectNewsMediaArea" resultType="java.util.Map">
		SELECT
			t.area_id areaId,
			a.area_name areaName
		FROM
			media_news_info t
		INNER JOIN system_area_info a ON a.area_id = t.area_id
		WHERE
			t.audit_status = 1
		GROUP BY
			t.area_id
	</select>
   
</mapper>