<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meibo.web.media.dao.WechatMediaTypeDAO">
	
	<select id="selectWechatMediaTypeList" resultType="java.util.Map">
		select
			id 				typeId,
			name			typeName
		from
			media_wechat_type
		where
			status = 1
		order by
			sort_index
	</select>
	
	<insert id="insertWechatMediaType" parameterType="newsMediaType" useGeneratedKeys="true" keyProperty="id">
    	insert into
    		media_wechat_type
    	( name, status, sort_index )
    	values
    		( #{name}, #{status}, #{sortIndex} )
    </insert>
    
    <select id="selectWechatMediaTypeById" parameterType="Integer" resultType="newsMediaType">
    	select
			id 				id,
			name			name,
			sort_index		sortIndex,
			status			status
		from
			media_wechat_type
		where
			id = #{id}
    </select>
    
    <update id="updateWechatMediaTypeStatus" parameterType="newsMediaType">
    	update
    		media_wechat_type
    	set
    		status = #{status}
    	where
    		id = #{id}
    </update>
	
	<select id="selectWechatMediaTypeId" parameterType="String" resultType="Integer">
		select
			id
		from
			media_wechat_type
		where
			name = #{name}
	</select>
	
	<select id="selectMaxSortIndex" resultType="Integer">
		select
			max( sort_index )
		from
			media_wechat_type
	</select>
	
</mapper>