<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meibo.web.member.dao.MemberAccountDAO">
	
    <select id="selectMemberAccountByCondition" parameterType="java.util.Map" resultType="memberAccount">
    	select
    		available_balance		availableBalance,
    		total_recharge_amount	totalRechargeAmount,
    		total_consume_amount	totalConsumeAmount,
    		invoice_amount			invoiceAmount
    	from
    		member_account
    	where
    		status = #{status}
    	and
    		account_type = #{accountType}
    	and
    		member_id = #{memberId}
    	limit 1
    </select>
    
    <insert id="insertMemberAccount" parameterType="accountEntity">
    	insert into
    		member_account
    	( member_id, account_type, available_balance, lock_balance, total_balance, 
    		total_recharge_amount, total_consume_amount, invoice_amount, status )
    	values
    		( #{memberId}, #{accountType}, #{availableBalance}, #{lockBalance}, 
    			#{totalBalance}, #{totalRechargeAmount}, #{totalConsumeAmount}, 
    			#{invoiceAmount}, #{status} )
    </insert>
   <update id="consumeMemberAccount" parameterType="java.util.Map">
   		update
   			member_account
   		set
   			available_balance = available_balance - #{transAmount},
   			total_balance = total_balance - #{transAmount},
   			total_consume_amount = total_consume_amount + #{transAmount}
   		where
   			member_id = #{memberId}
   </update>
   
</mapper>