<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meibo.web.member.dao.MemberInfoDAO">
	
    <select id="selectMemberInfoByConditions" parameterType="java.util.Map" resultType="memberDto">
    	select
    		member_id 		memberId,
    		login_name 		loginName,
    		mobile_num		mobileNum,
    		member_type		memberType,
    		role_id			roleId
    	from
    		member_info
    	where
    		status = 1
    	<if test="loginName != null and '' != loginName">
    	and
    		login_name = #{loginName}
    	</if>
    	<if test="loginPwd != null and '' != loginPwd">
    	and
    		login_pwd = #{loginPwd}
    	</if>
    	<if test="mobileNum != null and '' != mobileNum">
    	and
    		mobile_num = #{mobileNum}
    	</if>
    	<if test="memberId != null and '' != memberId">
    	and
    		member_id = #{memberId}
    	</if>
    	limit 1
    </select>
    
    <insert id="insertMemberInfo" parameterType="memberInfo" useGeneratedKeys="true" keyProperty="memberId">
    	insert into
    		member_info
    	( login_name, login_pwd, mobile_num, member_type, role_id, status )
    	values
    		( #{loginName}, #{loginPwd}, #{mobileNum}, #{memberType}, #{roleId}, #{status} )
    </insert>
   
</mapper>